---
import { getCollection } from "astro:content";
import { Badge, Flex, Grid, Heading, Link, Section } from "@components/atoms";
import { BlogCard, Pagination } from "@components/molecules";
import Layout from "@layouts/Layout.astro";
import type { PaginateFunction } from "astro";
import { getPostData } from "@utils/posts";

const posts = await getCollection("posts");
const tags = [...new Set(posts.flatMap((post) => post.data.tags))];

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const posts = await getCollection("posts");
  const publishedPosts = posts.filter((post) => !post.data.draft);

  return paginate(publishedPosts, { pageSize: 6 });
}

const { page } = Astro.props;
---

<Layout
  title="Blog - Jakub Nalewajk"
  description="Jakub Nalewajk's blog where he shares his thoughts on software development, productivity, and more."
>
  <Section id="blog" class="gap-12">
    <Flex class="flex-wrap gap-4 flex-col items-start justify-start mt-4 w-full animate-on-scroll">
      <Heading level={2} class="text-3xl sm:text-4xl font-bold">Blog</Heading>
      <Flex class="flex-wrap gap-2 items-start justify-start">
        {
          tags.map((tag: string) => (
            <Link href={`/category/${tag}`} class="no-underline">
              <Badge
                variant="primary"
                class="cursor-pointer hover:border-primary/50 transition-colors"
              >
                #{tag}
              </Badge>
            </Link>
          ))
        }
      </Flex>
    </Flex>

    <Grid class="grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      {page.data.map((post) => <BlogCard {...getPostData(post)} />)}
    </Grid>

    <Pagination
      prevUrl={page.url.prev}
      nextUrl={page.url.next}
      totalPages={page.lastPage}
      currPage={page.currentPage}
    />
  </Section>
</Layout>
