---
import { Badge, Card, Heading, Link, Paragraph } from "@components/atoms";
import { formatDate } from "@utils/date";
import { Image } from "astro:assets";

const { title, description, tags, image, slug, pubDate } = Astro.props;
---

<Link href=`/blog/${slug}` class="max-w-sm min-w-full border-none">
  <Card
    class="shadow-lg rounded-lg overflow-hidden cursor-pointer hover:shadow-xl transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-[1.01]"
  >
    {
      tags && (
        <div class="mb-3 flex gap-1">
          {tags.slice(0, 3).map((tag: string[]) => (
            <Badge class="rounded-md truncate" variant="secondary">
              {tag}
            </Badge>
          ))}
        </div>
      )
    }
    <Image
      transition:name=`blog-image-${title}`
      width={260}
      height={220}
      loading="eager"
      class="w-full max-h-52 object-cover"
      src={image.url}
      alt={image.alt}
    />
    <div class="py-4 px-1">
      <div class="flex flex-col gap-1">
        <div class="flex flex-col">
          <Heading
            level={3}
            transition:name=`blog-heading-${title}`
            class="text-2xl font-bold">{title}</Heading
          >
          <Paragraph class="text-start opacity-80"
            >Created on {formatDate(pubDate)}</Paragraph
          >
        </div>
        <Paragraph class="text-start">{description}</Paragraph>
      </div>
    </div>
  </Card>
</Link>
