---
import { IconLink, Paragraph } from "@components/atoms";
import { t, getLocale } from "@i18n";

const locale = getLocale(Astro.url);
const strings = t(locale);
const url = Astro.url;

const shareLinks = [
  {
    name: "WhatsApp",
    href: "https://wa.me/?text=",
    icon: "mdi:whatsapp",
  },
  {
    name: "Facebook",
    href: "https://www.facebook.com/sharer.php?u=",
    icon: "mdi:facebook",
  },
  {
    name: "Twitter",
    href: "https://twitter.com/intent/tweet?url=",
    icon: "mdi:twitter",
  },
  {
    name: "Telegram",
    href: "https://t.me/share/url?url=",
    icon: "mdi:telegram",
  },
  {
    name: "Pinterest",
    href: "https://pinterest.com/pin/create/button/?url=",
    icon: "mdi:pinterest",
  },
  {
    name: "Mail",
    href: "mailto:?subject=See%20this%20post&body=",
    icon: "mdi:email",
  },
] as const;
---

<div class="flex flex-col items-start justify-start gap-3 w-full mt-4">
  <Paragraph class="font-semibold text-center text-xl"
    >{strings.blog.sharePost}</Paragraph
  >
  <div class="flex gap-3 flex-wrap">
    {
      shareLinks.map((social) => (
        <IconLink
          name={social.icon}
          size={24}
          href={`${social.href}${encodeURIComponent(url.href)}`}
          aria-label={`${strings.blog.shareVia} ${social.name}`}
        />
      ))
    }
  </div>
</div>
