---
import { ButtonLink, Flex, Prose, Section } from "@components/atoms";
import { BackToTop, BlogTags, PostHeader, ShareLinks, TableOfContents } from "@components/molecules";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";

const frontmatter = Astro.props;
---

<Layout
  title={frontmatter.title}
  description={frontmatter.description}
  image={frontmatter.image?.url}
  type="article"
  publishedDate={frontmatter.pubDate}
>
  <Section
    class="relative grid xl:grid-cols-[1fr_auto_1fr] gap-x-8 max-w-7xl mx-auto"
  >
    <div class="w-full hidden xl:block h-full">
      <div class="sticky top-28">
        <TableOfContents
          headings={frontmatter.headings}
          withIndentation
          class="max-w-60"
        />
        <ButtonLink href="/blog" variant="secondary" class="mt-4 ml-1 text-sm w-full max-w-60">
          <Icon name="mdi:arrow-left" size={16} />
          Back to Blog
        </ButtonLink>
      </div>
    </div>

    <article class="flex flex-col w-full max-w-2xl gap-y-10">
      <PostHeader frontmatter={frontmatter} />
      <Flex class="flex-col gap-4 xl:hidden static items-start">
        <TableOfContents headings={frontmatter.headings} class="w-full" />
        <ButtonLink href="/blog" variant="secondary" class="text-sm self-start">
          <Icon name="mdi:arrow-left" size={16} />
          Back to Blog
        </ButtonLink>
      </Flex>
      <Prose>
        <slot />
      </Prose>
      <BlogTags tags={frontmatter.tags} />
      <ShareLinks />
    </article>
  </Section>

  <BackToTop />
</Layout>
