---
import { Flex, Prose, Section } from "@components/atoms";
import { TableOfContents } from "@components/molecules";
import BlogTags from "@components/molecules/BlogTags.astro";
import IconAnimatedLink from "@components/molecules/IconAnimatedLink.astro";
import PostHeader from "@components/molecules/PostHeader.astro";
import ShareLinks from "@components/molecules/ShareLinks.astro";
import Layout from "@layouts/Layout.astro";

const frontmatter = Astro.props;
---

<script>
  window.addEventListener("scroll", () => {
    const backToTopBtn = document.getElementById("backToTopBtn");
    if (!backToTopBtn) return;

    if (window.scrollY > 100) {
      backToTopBtn.classList.remove("opacity-0");
    } else {
      backToTopBtn.classList.add("opacity-0");
    }
  });
</script>

<Layout title={frontmatter.title} description={frontmatter.description}>
  <Section
    class="relative grid xl:grid-cols-[1fr_auto_1fr] gap-x-4 max-w-7xl mx-auto"
  >
    <div class="w-full hidden xl:block h-full">
      <div class="sticky top-28">
        <TableOfContents
          headings={frontmatter.headings}
          withIndentation
          class="max-w-56"
        />
        <IconAnimatedLink
          iconName="mdi:arrow-left"
          size={24}
          class="mt-5 lg:ml-6 w-48"
          href="/blog"
        >
          <Fragment slot="content">Go Back</Fragment>
        </IconAnimatedLink>
      </div>
    </div>

    <article class="flex flex-col w-full max-w-2xl gap-y-10">
      <PostHeader frontmatter={frontmatter} />
      <div
        class="flex flex-col gap-4 xl:hidden justify-center items-center static"
      >
        <TableOfContents headings={frontmatter.headings} />
        <IconAnimatedLink
          iconName="mdi:arrow-left"
          class="mr-6"
          size={24}
          href="/blog"
        >
          <Fragment slot="content">Go Back</Fragment>
        </IconAnimatedLink>
      </div>
      <Prose>
        <slot />
      </Prose>
      <BlogTags tags={frontmatter.tags} />
      <ShareLinks />
    </article>
  </Section>
  <IconAnimatedLink
    id="backToTopBtn"
    class="fixed bottom-20 right-4 ease-in-out opacity-0 transition-opacity"
    iconName="mdi:arrow-up"
    size={24}
    onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
  >
    <p slot="content">Back to Top</p>
  </IconAnimatedLink>
</Layout>
