---
import { ButtonLink, Flex, Prose, Section } from "@components/atoms";
import {
  BackToTop,
  BlogTags,
  PostHeader,
  ShareLinks,
  TableOfContents,
} from "@components/molecules";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { t, getLocale } from "@i18n";
import { getRelativeLocaleUrl } from "astro:i18n";

const locale = getLocale(Astro.currentLocale);
const strings = t(locale);
const frontmatter = Astro.props;

const siteUrl = Astro.site?.toString() ?? "";
const breadcrumbs = [
  {
    name: strings.nav.home,
    url: new URL(getRelativeLocaleUrl(locale, "/"), siteUrl).toString(),
  },
  {
    name: "Blog",
    url: new URL(getRelativeLocaleUrl(locale, "/blog"), siteUrl).toString(),
  },
  {
    name: frontmatter.title,
    url: new URL(Astro.url.pathname, siteUrl).toString(),
  },
];
---

<Layout
  title={frontmatter.title}
  description={frontmatter.description}
  image={frontmatter.image?.url?.src}
  type="article"
  publishedDate={frontmatter.pubDate}
  alternateHref={frontmatter.alternateHref}
  breadcrumbs={breadcrumbs}
>
  <Section
    class="relative grid xl:grid-cols-[1fr_auto_1fr] gap-x-8 max-w-7xl mx-auto"
  >
    <div class="w-full hidden xl:block h-full">
      <div class="sticky top-28">
        <TableOfContents
          headings={frontmatter.headings}
          withIndentation
          class="max-w-60"
        />
        <ButtonLink href={getRelativeLocaleUrl(locale, "/blog")} variant="secondary" class="mt-4 ml-1 text-sm w-full max-w-60">
          <Icon name="mdi:arrow-left" size={16} />
          {strings.blog.backToBlog}
        </ButtonLink>
      </div>
    </div>

    <article class="flex flex-col w-full max-w-2xl gap-y-10">
      <PostHeader frontmatter={frontmatter} />
      <Flex class="flex-col gap-4 xl:hidden static items-start">
        <TableOfContents headings={frontmatter.headings} class="w-full" />
        <ButtonLink href={getRelativeLocaleUrl(locale, "/blog")} variant="secondary" class="text-sm self-start">
          <Icon name="mdi:arrow-left" size={16} />
          {strings.blog.backToBlog}
        </ButtonLink>
      </Flex>
      <Prose>
        <slot />
      </Prose>

      <template id="copy-icon">
        <Icon name="mdi:content-copy" size={16} />
      </template>
      <template id="check-icon">
        <Icon name="mdi:check" size={16} />
      </template>

      <script src="@scripts/code-copy.ts"></script>
      <BlogTags tags={frontmatter.tags} />
      <ShareLinks />
    </article>
  </Section>

  <BackToTop />
</Layout>
